.titles{
        /* height: 10vh;
        background: #04000c;
        display: flex;
        padding: 20px;
        justify-content: space-between;
        align-items: center; */
        margin-left: 50%;
      }

.appbar{
  color: red;
}