.titles{
        justify-content: space-between;
        margin-left: 180%;
      }

.appbar{
  background: #7f8182;
  font-weight: bolder;
  font-family: "Quicksand";
  font-variant: normal;
  font-size: medium;
}



