.titles{
        justify-content: space-between;
        margin-left: 200%;
      }

.appbar{
  background: #f9f9f9;
  font-weight: bolder;
  font-family: "Quicksand";
  font-variant: normal;
  font-size: medium;
}



