.podcastImage{
    margin-top: 0%;
    margin-bottom: 1%;
    margin-left: 33%;
    margin-right: 10%;
}

.podcast1{
    /* margin-top: 1%; */
    margin-bottom: 3%;
}
.title1{
    font-weight: bolder;
}
.page{
    background-color: burlywood;
}